body {
    font-size: small;
    font-family: Verdana, Geneva, sans-serif;
    background-color: #FFFFF2;
    color: navy;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.suiteDetails {
    margin-bottom: 20px;
}
.suiteName {
    display: inline-block;
    padding-right: 20px;
    font-size: large;
    font-weight: bold;
}
.suiteTime {
    font-size: small;
    font-weight: bold;
    padding-top: 5px;
}
.suiteTimeTaken {
    display: inline-block;
    font-size: x-small;
    padding-left: 400px;
}
.results {
    padding: 20px 0px 10px 220px;
}
table {
    border-color: #303;
    color: #06F;
    font-size: x-small;
    padding: 5px 5px 5px 5px;
}
td {
    text-align: center;
    color: orange;
}
td.fail {
    color: red;
}
td.pass {
    color: #006400;
}
th {
    min-width:  60px;
}
th[scope="row"] {
    text-align: right;
    min-width:  10px;
}
.featureTitle {
    font-size: medium;
    padding-left: 50px;
    font-weight: bold;
}

.featureDescription {
    padding-left: 50px;
    font-size: x-small;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scenarioTitle {
    font-size: small;
    padding-left: 70px;
    font-weight: bold;
}

.step {
    padding-left: 80px;
}

.stepOK {
    font-size: x-small;
    color: #006400;
}

.stepFAIL {
    color: red;
    font-size: x-small;
}

.stepPEND {
    color: orange;
    font-size: x-small;
}

.stepText {
    display: inline-block;
    min-width: 450px;
}

.endState {
    display: inline-block;
    width: 65px;
    padding-left: 5px;
}

.stepMessage {
    display: inline-block;
    min-width: 90px;
    text-align: left;
    padding-left: 10px;
 }

.timeTaken {
    display: inline-block;
    padding-left: 5px;
    min-width: 80px;
    text-align: right;
}
